/* --- BASE STYLE --- */

:root {

    /* === MARGIN === */

    /* === PADDING === */

    /* === TRANSFORM === */

    /* === FONT SIZE === */

    /* === FONT POLICE === */
    --head-police: 'Tenor Sans', sans-serif;

    /* === TRANSITION === */
    --trans-03: .3s ease;
    --trans-05: .5s ease;
    --trans-1: 1s ease;

    /* === COLOR === */
    --web-site-menu-btn-color: var(--dark-color);
    --dark-color: #111;
    --white-color: #fff;
    --green-color: #91d18b;

    /* === LINE HEIGHT === */

}

*, *::before, *::after, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    color: var(--dark-color);
    text-rendering: optimizeLegibility;
    line-height: 1.5;
}

ul, li {
    position: relative;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* span {} */