/* --- BASE STYLE --- */

:root {

    /* === MARGIN === */

    /* === PADDING === */

    /* === TRANSFORM === */

    /* === FONT SIZE === */

    /* === FONT POLICE === */

    /* === TRANSITION === */
    --trans-3: .3s ease;
    --trans-5: .5s ease;

    /* === COLOR === */
    --web-site-menu-btn: #000;

    /* === LINE HEIGHT === */

}
